{% extends 'base.html.twig' %}

{% block title %}
    Post - {{ question.title }}
{% endblock %}

{% block body %}

    <a href="{{ path('app_forum') }}" class="link">Retour au forum</a>
    <div class="show-question">
        <div class="data-question">
            <div class="question-main__informations">
                <h2>{{ question.title }}</h2>
                <div class="question-state">
                    {% if app.user == question.author or app.user.isAdmin %}
                        {{ form_start(formSetResolved) }}

                            {{ form_row(formSetResolved.submit,
                                {
                                    'label': question.isResolved ? 'Réouvrir le post' : 'Fermer le post',
                                    'class': 'fjkg'
                                })
                            }}

                        {{ form_end(formSetResolved) }}
                    {% endif %}
                    <span class="badge badge-resolved">
                        Post {{ question.isResolved ? 'fermé' : 'ouvert' }}
                    </span>
                </div>
            </div>
            <div class="question__author">
                {% if question.author.avatarPathname is not null %}
                    <img src="{{ asset('uploads/avatars/' ~ app.user.avatarPathname) }}" alt="avatar" class="avatar">
                {% else %}
                    <img src="{{asset('images/icons/profil_icon.svg')}}" alt="icone de profil" class="avatar" />
                {% endif %}

                <p class="author">{{ question.author.firstname }} {{ question.author.lastname }}</p>

                {% if question.author.isAdmin() %}
                    <span class="badge badge-admin">
                        Admin
                    </span>
                {% endif %}
            </div>
            <p class="date-creation">Post créé le {{ question.createdAt|date('d/m/y H:i') }}</p>
        </div>
        <p class="question__description">{{ question.description }}</p>
    </div>

    <div class="question-answers-container mt-50">
        <div class="count-answers">
            <h3>{{ answersLength }} réponses</h3>
            <div class="line"></div>
        </div>
    {% for answer in answers %}
        <div class="answer">
            <div class="answer__author">
                {% if answer.author.avatarPathname is not null %}
                    <img src="{{ asset('uploads/avatars/' ~ answer.author.avatarPathname) }}" alt="avatar" class="avatar">
                {% else %}
                    <img src="{{asset('images/icons/profil_icon.svg')}}" alt="icone de profil" class="avatar" />
                {% endif %}
                <p class="author">{{ answer.author.firstname }} {{ answer.author.lastname }} - {{ answer.createdAt|date('d/m/y H:i') }}</p>
                {% if answer.author == question.author %}
                    <span class="badge badge-author">
                        Auteur
                    </span>
                {% endif %}
                {% if answer.author.isAdmin() %}
                    <span class="badge badge-admin">
                        Admin
                    </span>
                {% endif %}
            </div>
            <div class="answer-description">
                <p>{{ answer.description }}</p>
                {% if answer.updatedAt is not null %}
                    <p class="update">Updated</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

    {% if question.isResolved %}

        <div class="question-resolved mt-50">
            <h5>Ce post est résolu!</h5>
            <a class="btn button-primary" href="{{ path('app_presentation') }}">En créer un nouveau</a>
        </div>

    {% else %}
        <div class="reply mt-50">

            {{ form_start(formAnswer) }}

                {{ form_row(formAnswer.description, {'label': 'Votre réponse', 'attr': {'class': 'form-control'}}) }}

            {{ form_end(formAnswer) }}

        </div>

    {% endif %}

{% endblock %}
