{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <h1 class="main-title">Foire aux questions du Zoo de la Palmyre</h1>

    <div class="questions-user">
        <h2 class="second-title">Vos derniers posts</h2>
        {% if ownQuestions is null %}
            <p>Vous n'avez pas encore créé de questions.</p>
        {% else %}
            <div class="own-question-container">
            {% for ownQuestion in ownQuestions %}
                <div class="own-question">
                    {% if ownQuestion.isResolved %}
                        <p class="question-state">Question résolue</p>
                    {% else %}
                        <p class="question-state">Question non résolue</p>
                    {% endif %}
                    <div class="own-question__main-infos">
                        <h5 class="question__title">{{ ownQuestion.title }}</h5>
                        <p class="date-creation">Question créée le {{ ownQuestion.createdAt|date('d/m/Y') }}</p>
                    </div>
                    <a href="{{ path('app_faq_show', {'id': ownQuestion.id }) }}" class="btn button-primary">
                        Accéder au post
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="line line-mbc"></div>

    <div class="faq-container">
        <h2 class="second-title">Les posts les plus récents</h2>
        <div class="questions-container">
        {% for data in questions %}
            <div class="card-question">
                <div class="card-question__mains-infos">
                    <div class="question-title">
                        <h5 class="question__title">{{ data.question.title }}</h5>
                        <p class="question__answers-total">{{ data.count }} {{ data.count == 0 ? 'réponse' : 'réponses' }}</p>
                    </div>
                    <div class="question__author">
                        {% if data.question.author.avatarPathname is not null %}
                            <img src="{{ asset('uploads/avatars/' ~ app.user.avatarPathname) }}" alt="avatar" class="avatar">
                        {% else %}
                            <img src="{{asset('images/icons/profil_icon.svg')}}" alt="icone de profil" class="avatar" />
                        {% endif %}
                        <p class="author">{{ data.question.author.firstname }} {{ data.question.author.lastname }}</p>
                    </div>
                </div>
                <div class="card-question__bottom-infos">
                    <div class="question-state">
                        {% if data.question.isResolved %}
                            <a class="btn button-primary cursor-not-allowed">
                                Résolue
                            </a>
                        {% else %}
                            <a class="btn button-tertiary cursor-not-allowed">
                                Non-résolue
                            </a>
                        {% endif %}
                        <a href="{{ path('app_faq_show', {'id': data.question.id }) }}" class="btn button-secondary">
                            Voir la question
                        </a>
                    </div>
                    <div class="question-dates">
                        {% if data.question.updatedAt is null %}
                            <p>Pas d'activité récente.</p>
                        {% else %}
                            <p>Dernière activité le {{ data.question.updatedAt|date('d/m/y H:i') }}</p>
                        {% endif %}
                        <p class="date-creation">Question créée le {{ data.question.createdAt|date('d/m/Y') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
