{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Ticket.css')}}" type="text/css">

{% endblock %}

{% block body %}

    <h1>Liste de Ticket Achete</h1>

    {% for ticket in tickets %}

    <li> <a href='{{ path('app_ticket_id', {"id": ticket.id } ) }}'>Ticket Achete Numero {{ ticket.id}} </a></li>

    {% endfor %}

    <bouton type="button" class="button-lik"> <a href="{{ path('app_ticket_create') }}" > <strong> Creation de Ticket</strong> </a></bouton>

    {{ form_start(form, {'method': 'GET'}) }}
    {{ form_row(form.date) }}


    {{ form_end(form)}}

    <input type="submit" value="type" />
{% endblock %}
