{% extends 'base.html.twig' %}

{% block title %} Recapitulatif du Ticket N°{{ ticket. id }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css')}}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Recapitulatiof de votre ticket </h1>

    <table>
        <tr>
            <td> Numero de ticket </td>
            <td> Prix de ticket</td>
            <td> Type de ticket  </td>
            <td> Proprietaire ticket  </td>
            <td> Activité Ticket  </td>

        </tr>
        <tr>
            <td> N° {{ ticket.id}} </td>
            <td> {{ ticket.price}} € </td>
            <td> {{ ticket.type}} </td>

        </tr>
    </table>
{% endblock %}
