{% extends 'base.html.twig' %}

{% block title %} Recapitulatif du Ticket N°{{ ticket. id }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Ticket.css')}}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Recapitulatiof de votre ticket </h1>

<div class="repeat-ticket">
             Numero de ticket: N° {{ ticket.id}}
             Prix de ticket:  {{ ticket.price}} €
            Type de ticket :{{ ticket.type}}
             Proprietaire ticket: {{ user.lastname }},{{ user.firstname }}
             Activité Ticket:

</div>


{% endblock %}
